<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Colleges List</title>
    <h1>Colleges</h1>
    <style>
    td:hover{
        color:red;font-size:20px
    }
    table td:hover{
      border:blue 1px solid;
    }
    </style>
</head>
<body>
    <table border = 2 >
        <tr>
            <th>Student Name</th>
            <th>Student Email</th>
            <th>College Acronym</th>

        </tr>
        {% for data in student_list %}
        <tr>
            <td>{{ data.name }}</td>
            <td>{{ data.email }}</td>
            <!--<td>{{ data.acronym }}</td>-->
        </tr>
        {% endfor %}

    </table>
</body>
</html>